.dropdown-button {
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
    outline: none;
    padding: 0px 5px;
    color: var(--color);
}

.dropdown {
    display: flex;
    flex-direction: row-reverse;
}
.cart-dropdown-list{
    min-width: 500px;
}
[dropdown-list] {
    position: absolute;
    top: calc(100% + .25rem);
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgb(0, 0, 0, .1);
    transition: opacity 150ms ease-in-out;

    /* rounded corners */
    border-radius: 3px;

    /* Can click items behind the drop-down even if its hidden */
}