.title {
    padding: 0px 8px;
    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
    font-family: inherit;
}

.page {
    min-width: 1000pt;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    box-shadow: 5px 5px 15px rgb(147, 147, 147);
    margin:30px 30px;
    padding: 20px 20px;
}