:root {
    --color: rgb(0, 0, 128);
    --hover-color: rgb(140, 140, 140);
}

h1 {
    color: var(--color);
}

body {
    font-family: sans-serif;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600pt;
    padding: 0px 5px;
}