.shopping-cart {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    color: var(--color);
}

.cart-image {
    display: flex;
    flex: 1 0 30%;
}

.dropdown {
    /* display: none; */
    top:100%;
    float: right;
    width: 200pt;
    height: 300pt;
    border: 2px solid black;
    background-color: white;
    position: relative;

    /* rounded corners */
    border-radius: 3px;

    /* gap between dropdown box and the header */
    margin: 90px 16px;
}

.shopping-cart:hover .dropdown {
    display: block;
    border: 2px solid black;
}